body{
    text-align: center;
    background-image: url(https://images.hdqwalls.com/download/3d-black-cube-4r-2560x1440.jpg);
}
#red{
    background-color: red;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px; 
}
#ora{
    background-color: orange;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#yel{
    background-color: yellow;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: rgb(0, 88, 88);
    margin-left: 350px;
    margin-right: 350px;
}
#gre{
    background-color: green;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#blu{
    background-color: blue;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#ind{
    background-color: indigo;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#pur{
    background-color: violet;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#pin{
    background-color: pink;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: rgb(0, 88, 88);
    margin-left: 350px;
    margin-right: 350px;
}
#bro{
    background-color: black;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#vio{
    background-color: purple;
    border: 3px solid rgba(208, 255, 0, 0.39);
    color: aqua;
    margin-left: 350px;
    margin-right: 350px;
}
#oiv{
    background-color: cornflowerblue;
    height: 25px;
    width: 250px;
    margin-left: 275px;
}
h1{
    color: white;
}